@*@model WebApplicationMongodb.Models.Contato

<h2>Contato</h2>
<h3>Cadastro de contatos - ADICIONAR</h3>

@using (Html.BeginForm("Inserir", "Contato", FormMethod.Post, new { id = "formContatoAdicionar", name = "formContatoAdicionar" }))
{
    <div class="row col-md-offset-3 mt-2">
        @Html.LabelFor(Model => Model.Id, new { "col-sm-2 col-form-label text-rigth" })
        <div class="col-sm-4">
            @Html.TextBoxFor(Model => Model.Id, new {class = "form-control", @disabled = "disabled"})
        </div>
    </div>

<div class="row col-md-offset-3 mt-2">
    @Html.LabelFor(Model => Model.Nome, new { "col-sm-2 col-form-label text-rigth" })
    <div class="col-sm-4">
        @Html.TextBoxFor(Model => Model.Nome, new {@maxlength ="70", class = "form-control"})
    </div>

    <div class="row col-md-offset-3 mt-2">
        @Html.LabelFor(Model => Model.Endereço, new { "col-sm-2 col-form-label text-rigth" })
        <div class="col-sm-4">
            @Html.TextBoxFor(Model => Model.Endereço, new {@maxlength ="70", class = "form-control"})
        </div>
    </div>

    <div class="row col-md-offset-3 mt-2">
        @Html.LabelFor(Model => Model.Telefone, new { "col-sm-2 col-form-label text-rigth" })
        <div class="col-sm-4">
            @Html.TextBoxFor(Model => Model.Telefone, new {@maxlength ="11", class = "form-control"})
        </div>
    </div>

</div>
}*@

@model WebApplicationMongodb.Models.Contato

<h2>Contato</h2>
<h3>Cadastro de contatos - ADICIONAR</h3>

@using (Html.BeginForm("Inserir", "Contato", FormMethod.Post, new { id = "formContatoAdicionar", name = "formContatoAdicionar" }))
{
    <div class="row">
        <div class="col-sm-2">
            @Html.LabelFor(Model => Model.Id, new { @class = "col-form-label text-right" })
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(Model => Model.Id, new { @class = "form-control", @disabled = "disabled" })
        </div>
        <div class="col-sm-2">
            @Html.LabelFor(Model => Model.Nome, new { @class = "col-form-label text-right" })
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(Model => Model.Nome, new { @class = "form-control"})
        </div>
        <div class="col-sm-2">
            @Html.LabelFor(Model => Model.Endereco, new { @class = "col-form-label text-right" })
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(Model => Model.Endereco, new { @class = "form-control", @disabled = "disabled" })
        </div>
        <div class="col-sm-2">
            @Html.LabelFor(Model => Model.Telefone, new { @class = "col-form-label text-right" })
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(Model => Model.Telefone, new { @class = "form-control", @disabled = "disabled" })
        </div>


    </div>

   
}
