@model List<WebApplicationMongodb.Models.Contato>

<h2>Funcionários</h2>


<p class="text-left"><a class="btn btn-outline-success" href="./Contato/MostrarInserir">Adicionar novo funcionário</a></p>
<br/>

@using (Html.BeginForm("ObterContatos", "Contato", FormMethod.Post, new { id = "formContatoBuscar", name = "formContatoBuscar" }))
{
    <div class="row col-md-offset-3 mb-3">
        <div class="col-sm-4">
            <input type="text" id="texto" name="texto" class="form-control" value="@ViewBag.Texto">
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-outline-success"><i class="bi-search">Buscar</i></button>
        </div>
    </div>
}



<table class="table table-success table-light">

    <tr>
        <th>
            Id
        </th>
        <th>
            Nome
        </th>
        <th>
            CPF
        </th>
        <th>
            Cargo
        </th>
        <th>
            Salário
        </th>
        <th>
            Endereço
        </th>
        <th>
            Email
        </th>
        <th>
            Telefone
        </th>
        <th>
            Operações
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-left">
                @item.Id
            </td>
            <td class="text-left">
                @item.Nome
            </td>
            <td>
                @item.CPF
            </td>
            <td>
                @item.Cargo
            </td>
            <td>
                @item.Salário
            </td>
            <td>
                @item.Endereco
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Telefone
            </td>
            <td>
                <a href="/Contato/Visualizar/@item.Id" title="Visualizar" class="text-primary bi-eye"></a>
                <a href="./Contato/MostrarAtualizar/@item.Id" title="Alterar" class="text-success bi-pencil"></a>
                <a href="/Contato/MostrarExcluir/@item.Id" title="Excluir" class="text-danger bi-trash"></a>
            </td>
        </tr>
    }

</table>

