@model List<WebApplicationMongodb.Models.Contato>

<h2>Contatos</h2>
<h3 class="badge bg-secondary">Cadastro de funcionários - Buscar</h3>

<p class="text-left"><a  class="btn btn-outline-success" href="./Contato/Adicionar">Adicionar novo funcionário</a></p>

<table class="table table-success table-light">

    <tr>
        <th>
            Id
        </th>
        <th>
            Nome
        </th>
        <th>
            CPF
        </th>
        <th>
            Cargo
        </th>
        <th>
            Salário
        </th>
        <th>
            Endereço
        </th>
        <th>
            Email
        </th>
        <th>
            Telefone
        </th>
        <th>
           Operações 
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-left">
                @item.Id
            </td>
            <td class="text-left">
                @item.Nome
            </td>
            <td>
                @item.CPF
            </td>
            <td>
                @item.Cargo
            </td>
            <td>
                @item.Salário
            </td>
                <td>
                @item.Endereco
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Telefone
            </td>
            <td>
                <a href="/Contato/Visualizar/@item.Id" class="text-primary bi-eye"></a>
                <a href="./Contato/Alterar/@item.Id" class="text-success bi-pencil"></a>
                <a href="./Contato/Excluir/@item.Id" class="text-danger bi-trash"></a>
            </td>
        </tr>
    }

</table>

